---
import BaseLayout from '@/layouts/BaseLayout'
import ListPosts from '@/components/ListPosts'
import ListCategories from '@/components/ListCategories'
import Title from '@/components/Title'
import { getTags, getPostByTag } from '@/utils'

export async function getStaticPaths() {
	const tags = await getTags()

	return tags.map((tag) => ({
		params: { tag },
		props: { tag }
	}))
}

const { tag } = Astro.props

const posts = await getPostByTag(tag)
---

<BaseLayout title={tag}>
	<ListCategories />
	<Title>{tag}</Title>
	<ListPosts posts={posts} />
</BaseLayout>
