---
import ListPosts from '@/components/ListPosts'
import BaseLayout from '@/layouts/BaseLayout'
import { getPosts } from '@/utils'

const MAX_POSTS = 12
const posts = await getPosts(MAX_POSTS)
---

<BaseLayout title='Главная'>
	<div>
		<ListPosts posts={posts} />
	</div>
</BaseLayout>
