---
import ListCategories from '@/components/ListCategories'
import ListPosts from '@/components/ListPosts'
import Title from '@/components/Title'
import BaseLayout from '@/layouts/BaseLayout'
import { getPosts } from '@/utils'

const MAX_POSTS = 5 // max number of posts to show on the home page
const posts = await getPosts(MAX_POSTS)
---

<BaseLayout title='Главная'>
	<ListCategories />

	<div>
		<Title>Последние новости</Title>

		<ListPosts FirstBig={true} posts={posts} />
	</div>
</BaseLayout>
