---
import { sluglify } from '@/utils'

const { name, activeCategory } = Astro.props
const currentPath = Astro.url.pathname
const unsluglifyNameCategory = sluglify(name.toLowerCase())

const isActive =
	activeCategory?.toLocaleLowerCase() === unsluglifyNameCategory ||
	(currentPath === '/' && name === 'Всё')
---

<a
	href={sluglify(`/category/${unsluglifyNameCategory}/1`)}
>
	{name}
</a>
