---
import ListCategories from '@/components/ListCategories'
import Logo from '@/components/Logo'
import MenuIcon from './icons/MenuIcon.astro'
import Search from '@/components/Search'
---

<header class='header'>
	<a href='/' aria-label='ШЭБЭ Медиа'><Logo /></a>

	<nav transition:persist='navbar'>
		<ListCategories />

		<div>
			<Search />
		</div>

		<!-- <button id='astro-header-drawer-button' type='button' class='md:ml-6 md:hidden'>
			<MenuIcon />
			<span class='sr-only'>Показать меню</span>
		</button> -->
	</nav>
</header>
<!-- <script>
	document.addEventListener('click', (event) => {
		const menu = document.getElementById('astro-header-drawer')
		const menuButton = document.getElementById('astro-header-drawer-button')
		const isClickInside =
			menu?.contains(event.target as HTMLDivElement) ||
			menuButton?.contains(event.target as HTMLButtonElement)

		if (isClickInside) {
			menu?.classList.toggle('translate-x-96')
		} else {
			menu?.classList.add('translate-x-96')
		}
	})
</script> -->

<style>
	.header {
		padding: 58px 0 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	nav {
		display: flex;
		gap: 82px;
	}
</style>
